<!--ul>
  <li *ngFor="let stop of stopArray">
    <!--<p>Routes: {{stop.name}}</p>->
    <p *ngFor="let i of stop.patterns"> {{i.route.longName + "  Route number:" + i.route.shortName}}</p>
  </li>
</ul-->

<div class="content">
  <h1>Feed</h1>
<ul class="card-deck">
  <li class="card" *ngFor="let media of mediaArray">
    <img class="card-img-top" [src]="mediaService.mediaUrl + thumbnailer(media.filename)">
    <h4 class="card-title">{{media.title}}</h4>
    <p class="card-text">{{media.description}}</p>
  </li>
</ul>
</div>
